{% extends 'glowny.html' %}

{% block tytul %} Lista ksiazek {% endblock %}
{% block strona %}
<div class="jumbotron position-relative">
    <div class="d-flex align-items-center justify-content-between">
        <h1 class="display-4">Biblioteka internetowa im. Jacka Sutryka</h1>
        <div>
            {% if user.is_authenticated %}
                <div class="dropdown d-inline">
                    <button class="btn btn-link text-success p-0" type="button" id="dropdownIconButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-address-book fa-2x"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownIconButton">
                        <li><a class="dropdown-item" href="#">Profil</a></li>
                        <li><a class="dropdown-item" href="#">Ustawienia</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </div>
            {% else %}
                <a href="#" class="btn btn-primary mx-1">Zarejestruj się</a>
                <a href="{% url 'login' %}" class="btn btn-primary mx-1">Zaloguj się</a>
            {% endif %}
        </div>
    </div>
</div>



    <hr>
    {% if user.is_authenticated %}
    <a href="{% url 'nowa_ksiazka' %}" class="btn btn-success">Nowa książka <i class="fa-solid fa-book"></i></a>
    {% endif %}
    <a href="{% url 'kategoria' %}" class="btn btn-success"> Kategoria <i class="fa-solid fa-list"></i> </i> </a>
    <a class="btn btn-success"> Na topie <i class="fa-solid fa-arrow-trend-up"></i> </a>
    <a class="btn btn-success"> Czytelnicy <i class="fa-solid fa-book-open"></i> </a>
    <a class="btn btn-success"> Kontakt <i class="fa-solid fa-phone"></i></i> </a>
    <a class="btn btn-success">Najczęstsze pytania <i class="fa-regular fa-circle-question"></i></i></i> </a>

    <div class="input-group my-4" style="width: 30rem;">
        <input type="text" name="q" class="form-control" placeholder="Szukaj książki..." value="{{ request.GET.q }}">
        <div class="input-group-append">
            <button class="btn btn-success" type="submit"> <i class="fa-solid fa-magnifying-glass"> </i></button>
        </div>
    </div>

    {% if ksiazki|length == 0 %}
        <h2>Brak książek</h2>
    {% else %}
        <div class="row">
            {% for ksiazka in ksiazki %}
                <div class="col-md-4 mb-4">
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-9">
                                    <h5 class="card-title">{{ ksiazka }}</h5>
                                </div>
                                <div class="col-3">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="fa-solid fa-bars"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            {% if user.is_authenticated %}
                                            <li><a class="dropdown-item" href="{% url 'edytuj_ksiazke' ksiazka.id %}">Edytuj książkę</a></li>
                                            <li><a class="dropdown-item" href="{% url 'usun_ksiazke' ksiazka.id %}">Usuń książkę</a></li>
                                            <li><hr class="dropdown-divider"></li>
                                            {% endif %}
                                            <li><a class="dropdown-item" href="#">Sprawdź dostępność</a></li>
                                            <li><a class="dropdown-item">Inna akcja</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <p class="card-text">{{ ksiazka.opis }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
