{% extends 'glowny.html' %}
{% load bootstrap %}

{% block tytul %} Dodaj ksiazke {% endblock %}

{% block strona %}
    <div class="card" style="width: 28rem;">
      <div class="card-body">
          <h5 class="card-title">Nowa książka</h5>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button type="submit">Dodaj książkę <i class="fa-solid fa-book"></i></button>
    </form>
      </div>
    </div>
    <a href="{% url 'wszystkie_ksiazki' %}">Cofnij</a>

{% endblock %}