{% extends 'glowny.html' %}

{% block tytul %}Ustawienia Konta{% endblock %}

{% block strona %}
<div class="container mt-4">
    <h2>Ustawienia Konta</h2>
    <form method="post" class="mt-3">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Zmień hasło</button>
    </form>

    {% if messages %}
    <ul class="mt-3">
        {% for message in messages %}
        <li class="alert alert-{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
